#login-user {
    color: white;
}

.admin-item {
    display: none !important;
}

.display-text {
    font-size: 1rem;
}

.responsive-text {
    font-size: .7rem;
}

@media (min-width: 576px) {
    .display-text {
        font-size: 1.2rem;
    }

    .responsive-text {
        font-size: .75rem;
    }
}

@media (min-width: 768px) {
    .display-text {
        font-size: 1.3rem;
    }

    .responsive-text {
        font-size: .8rem;
    }
}

@media (min-width: 992px) {
    .display-text {
        font-size: 1.4rem;
    }

    .responsive-text {
        font-size: .9rem;
    }
}

@media (min-width: 1200px) {
    .display-text {
        font-size: 1.5rem;
    }

    .responsive-text {
        font-size: 1rem;
    }
}

/* Tooltip container */
#tooltip {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    padding: 6px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 5000;
}

/*
 * Fixes
 */
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.cell-middle tbody td {
    vertical-align: middle !important;
}

.filled,
.filledKey {
    fill: #8888ff !important;
}

.found,
.foundKey,
.new,
.newKey,
.onShelf,
.changeShelfSelected {
    fill: coral !important;
}


.selected,
.selectedKey {
    fill: #cb0101 !important;
    stroke-width: 2px;
}

#ColorKey {
    max-height: 75px;
}

html,
body {
    height: 100%;
}

.container-fluid,
main {
    height: calc(100vh);
}

body {
    font-size: .875rem;
}

nav {
    background-color: #1a48aa;
}

.navbar {
    height: 72px;
}

.navbar-short {
    height: 100%;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

aside {
    #padding-top: 72px;
}

@media (min-width: 768px) {
    .navbar-collapse {
        flex-grow: 0;
    }
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh);
    padding-top: 72px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar {
    height: 72px;
}

.navbar-short {
    height: 100%;
    #padding-top: 72px;
}

.navbar-brand {
    margin-left: .25rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
    padding-right: .75rem;
    font-size: 1.15rem;
    border-radius: 5px;
    min-width: 210px;
    background-image: url(../img/UKHCLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(26, 72, 170, 0.75);
    background-blend-mode: lighten;
    text-align: center;
    text-shadow: 1px 1px #07132c;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav-item a{
    color: #716f6f !important;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 *  DataTables modifications
 */
th.dt-center, td.dt-center { text-align: center; }
div.dataTables_info {
    padding-left: .5em;
    padding-top: 0.3em !important;
}

/*
 *  Fixes
 */
.modal { overflow: auto !important; }

/*
 *  Collapsable Cards
 */
.card-header .fa {
    transition: .3s transform ease-in-out;
}

a.collapsed, a.d-block,
a.collapsed:hover, a.d-block:hover,
a.collapsed:visited, a.d-block:visited {
    color: black;
    text-decoration: none;
}

/*
 *  Components
 */
#components {
    margin-top: 10px;
}

@media screen and (min-width: 700px) {
    #components {
        margin-top: 87px;
    }
}

#scroll-nav {
    margin-top: 10px;
}

@media screen and (min-width: 700px) {
    #scroll-nav {
        margin-top: 87px;
    }
}

#scroll-nav-todo-header {
    position: fixed;
    top: 10px;
}

@media screen and (min-width: 700px) {
    #scroll-nav-todo-header {
        top: 87px;
    }
}

#scroll-nav-components-header {
    position: fixed;
    top: 10px;
}

@media screen and (min-width: 700px) {
    #scroll-nav-components-header {
        /*top: 87px;*/
        top: calc(50vh + 87px);
    }
}

/*
 *  ScrollNav
 */
.scroll-nav-todo {
    background-color: #f8f9fa;
    border: 1px solid #343a40!important;
    border-radius: 5px;
    padding: 15px 10px;
    position: fixed;
    top: 30px;
    /*height: calc(100vh - 20px);*/
    max-height: calc(100vh - 30px);
    overflow-y: scroll;
}
@media screen and (min-width: 700px) {
    .scroll-nav-todo {
        float: left;
        padding: 15px 10px;
        width: 180px;
        top: 115px;
        /*height: calc(100vh - 97px);*/
        max-height: calc(50vh - 50px);
    }
}
@media screen and (min-width: 1000px) {
    .scroll-nav-todo {
        width: 220px;
    }
}

.scroll-nav-components {
    background-color: #f8f9fa;
    border: 1px solid #343a40!important;
    border-radius: 5px;
    padding: 15px 10px;
    position: fixed;
    top: 30px;
    /*height: calc(100vh - 20px);*/
    max-height: calc(100vh - 30px);
    overflow-y: scroll;
}
@media screen and (min-width: 700px) {
    .scroll-nav-components {
        float: left;
        padding: 15px 10px;
        width: 180px;
        /*top: 115px;*/
        top: calc(50vh + 115px);
        /*height: calc(100vh - 97px);*/
        max-height: calc(50vh - 130px);
    }
}
@media screen and (min-width: 1000px) {
    .scroll-nav-components {
        width: 220px;
    }
}

.scroll-nav-components__list,
.scroll-nav-todo__list {
    margin: 0;
    padding-left: 1.4em;
    list-style-type: none;
}

.scroll-nav-components__item,
.scroll-nav-todo__item {
    margin-bottom: 5px;
}

.scroll-nav-components__item--active,
.scroll-nav-todo__item--active{
    font-weight: 600;
    position: relative;
}
.scroll-nav-components__item--active:before,
.scroll-nav-todo__item--active:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: black;
    position: absolute;
    left: -20px;
    top: 2px;
}

.scroll-nav-components__link,
.scroll-nav-todo__link{
    color: #0645ad;
    text-decoration: none;
}

.dataTables_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255,255,255,0.8);
}

.dataTables_overlay_content {
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #555;
}
