<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Badge Swipe Display Page">
    <meta name="author" content="Caylin Hickey">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Badge Swipe Status</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
    <main role="main" class="h-100">
        <section class="jumbotron text-center h-100">
            <div class="container-fluid h-100">
                <h1 class="jumbotron-heading" id="status" style="font-size: 7rem;"></h1>
            </div>
        </section>
    </main>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        const idleMsg = `Idle`;
        const statusText = $('#status');
        const timeoutDelay = 5000;
        const resetDelay = 3000;
        let reset = undefined;
        let resetFailed = undefined;
        let pending = false;
        let success = false;
        let swipe = {};
        let version = 0;

        let setIdleMsg = function () {
            statusText.html(idleMsg);
        };

        $(function() {
            statusText.html("Idle");
            setInterval(function() {
                $.getJSON("/status", function(data) {
                    if (data.version > version) {
                        version = data.version;
                        pending = data.pending;
                        success = data.success;
                        swipe = data.swipe;
                        if (pending) {
                            statusText.html(`Registering swipe`);
                            clearTimeout(resetFailed);
                            clearTimeout(reset);
                            resetFailed = setTimeout(function() {
                                statusText.html(`<span style="color: red; font-weight: bold;">Failed to register, please try again</span>`);
                                reset = setTimeout(setIdleMsg, resetDelay);
                            }, timeoutDelay);
                        } else if (success) {
                            statusText.html(`<span style="color: green;">Registered: ${swipe.fullName} (${swipe.id})</span>`);
                            clearTimeout(resetFailed);
                            clearTimeout(reset);
                            reset = setTimeout(setIdleMsg, resetDelay);
                        } else {
                            statusText.html(`<span style="color: red; font-weight: bold;">Swipe error, please try again</span>`);
                            clearTimeout(resetFailed);
                            clearTimeout(reset);
                            reset = setTimeout(setIdleMsg, resetDelay);
                        }
                    }
                });
            }, 100);
        });
    </script>
</body>
</html>