
        </main>
    </div>
    <footer class="app-footer">
        <div class="ml-auto">
            <span>Dashboard powered by</span>
            <a href="https://coreui.io" target="_blank">CoreUI</a> and <a href="http://cresco.io" target="_blank">Cresco</a>
            <span>&copy; 2019.</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-primary" href="https://github.com/CrescoEdge/quickstart" target="_blank">
                Visit Us on Github!
            </a>
        </div>
    </footer>
</body>
</html>
