<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Cresco - Open Source Edge-Computing Framework">
    <meta name="author" content="Caylin Hickey">
    <meta name="keyword" content="Bootstrap,Admin,Open,Source,jQuery,CSS,HTML,Dashboard">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <title>{{#page.title}}{{page.title}}{{/page.title}}{{^page.title}}Badge Swipe Tracker{{/page.title}}</title>
    <!-- Icons-->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <link href="/vendors/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/vendors/datatables/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="/vendors/datatables/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="/vendors/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/force.css">
    <link rel="stylesheet" href="/css/context-menu.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Bootstrap and necessary plugins-->
    <script src="/vendors/jquery/js/jquery.min.js"></script>
    <script src="/vendors/popper/js/popper.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/pace-progress/js/pace.min.js"></script>
    <script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>

    <!-- Plugins and scripts required by this view-->
    <script src="/vendors/chart/js/Chart.min.js"></script>
    <script src="/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>
    <script src="/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/vendors/datatables/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatables/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendors/datatables/js/buttons.colVis.min.js"></script>
    <script src="/vendors/gauge/gauge.min.js"></script>
    <script src="/vendors/moment/moment.min.js"></script>
    <script src="/vendors/timeago/jquery.timeago.js"></script>
    <script src="/vendors/daterangepicker/daterangepicker.min.js"></script>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <i class="fa fa-drivers-license-o"></i>&nbsp;Badge Swipe
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">
                    {{#user}}{{user.name}}{{/user}} <img class="img-avatar" src="/img/avatars/generic.jpg" alt="admin@cresco.io">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            {{> menu}}
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">