{{> header}}
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">

                </div>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Badge Swipe History
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label for="swipes-site" class="col-sm-1 form-control-label" style="font-size: 1.5rem;margin-bottom: 0;text-align: right;">Site:</label>
                                            <div class="col-lg-3">
                                                <select id="swipes-site" class="form-control">
                                                    <option value="all" selected>All</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-5" style="border: 1px solid #e4e7ea; border-radius: 0.25rem; text-align: center; font-size: 1.15rem;">
                                                <div id="swipesDateRange" class="pull-left" style="cursor: pointer;">
                                                    <i class="fa fa-calendar fa-lg"></i>
                                                    <span></span> <b class="caret"></b>
                                                </div>
                                            </div>
                                            <div class="col-lg-3" style="text-align: right;">
                                                <button class="btn btn-success" onclick="downloadCSV();">Download (.csv)</button>
                                            </div>
                                        </div>
                                        <div id="swipesOverlay" style="display: none;" class="dataTables_overlay"><div class="dataTables_overlay_content"><i class="fa fa-server"></i> Connection to server lost</div></div>
                                        <table id="swipes" class="display table table-striped table-bordered dt-responsive no-wrap" style="width: 100%">
                                            <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>Site</th>
                                                <th>UKID</th>
                                                <th>LinkBlue</th>
                                                <th>Full Name</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Time</th>
                                                <th>Site</th>
                                                <th>UKID</th>
                                                <th>LinkBlue</th>
                                                <th>Full Name</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="new-app-info-modal" tabindex="-1" role="dialog" aria-labelledby="addGCModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add new application using CADL</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body" id="region-info-modal-body">
                        <form id="new-pipeline">
                            <label for="new-pipeline-tenant">Tenant ID</label>
                            <input type="text" id="new-pipeline-tenant" name="tenant-id" class="form-control"/><br>
                            <label for="new-pipeline-code">Pipeline</label>
                            <textarea id="new-pipeline-code" name="pipeline" class="form-control"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="new-pipeline-submit" type="button" class="btn btn-success" onclick="submitNewPipeline()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            const PERIOD_VISIBLE = 5000;
            const PERIOD_NOT_VISIBLE = 60000;
            const swipesSite = $(`#swipes-site`);
            const swipesTable = $(`#swipes`);
            const swipesTableBody = $(`#swipes tbody`);
            const swipesDateRange = $(`#swipesDateRange`);
            const swipesDateRangeSpan = $(`#swipesDateRange span`);
            let swipesFilter;
            let swipes;
            let swipesFrom = moment().startOf('day');
            let swipesTo = moment().add(1, 'days').startOf('day');
            let refreshSwipes = true;
            let swipeTimeAgo = true;
            let timer = 0;

            function updateSites() {
                $.getJSON(`/sites`, function(data) {
                    const selected = swipesSite.val();
                    let options = `<option value="all"${(selected === 'all') ? 'selected' : ''}>All</option>`;
                    $.each(data.sites, function(i, v) {
                        options += `<option value="${v}">${v}</option>`;
                    });
                    swipesSite.html(options);
                });
            }

            swipesSite.change(function() {
                updateList();
            });

            function visibilityChanged() {
                clearTimeout(timer);
                timer = setInterval(updateList, (document.hidden) ? PERIOD_NOT_VISIBLE : PERIOD_VISIBLE);
            }

            function updateList() {
                if (refreshSwipes)
                    swipes.ajax.reload( null, false );
            }

            function downloadCSV() {
                document.location.href = `/download/${swipesSite.val()}/${swipesFrom.unix()*1000}/${swipesTo.unix()*1000}/${swipesFilter.val()}`;
            }

            if(document.addEventListener) document.addEventListener("visibilitychange", visibilityChanged);

            $(function() {
                updateSites();
                swipes = swipesTable.DataTable({
                    "serverSide": true,
                    "ajax": {
                        dataType: "JSON",
                        type: "GET",
                        url: "/list",
                        data: function(data) {
                            data.site = swipesSite.val();
                            data.from = swipesFrom.unix()*1000;
                            data.to = swipesTo.unix()*1000;
                        },
                        async: true,
                        error: function (xhr, ajaxOptions, thrownError) {
                            $(`#swipesOverlay`).css("display", "");
                        },
                        complete: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.readyState === 4) {
                                $(`#swipesOverlay`).css("display", "none");
                            }
                        }
                    },
                    "order": [[ 0, "desc" ]],
                    "responsive": true,
                    "dom": 'Bfrtip',
                    "buttons": [
                        'pageLength', 'colvis',
                        {
                            text: 'Pause Refresh',
                            action: function (e, dt, node, config) {
                                if (refreshSwipes) {
                                    refreshSwipes = false;
                                    e.target.innerHTML = '<span>Resume Refresh</span>'
                                } else {
                                    refreshSwipes = true;
                                    e.target.innerHTML = '<span>Pause Refresh</span>'
                                }
                            }
                        },
                        {
                            text: 'Show Timestamps',
                            action: function (e, dt, node, config) {
                                if (swipeTimeAgo) {
                                    swipeTimeAgo = false;
                                    e.target.innerHTML = '<span>Show Relative Times</span>'
                                } else {
                                    swipeTimeAgo = true;
                                    e.target.innerHTML = '<span>Show Timestamps</span>'
                                }
                                updateList();
                            }
                        }
                    ],
                    "processing": false,
                    "language": {
                        "emptyTable": "No swipes have been recorded",
                        "loadingRecords": "Loading records",
                        "processing": "Connection to server lost..."
                    },
                    "pagingType": "full_numbers",
                    "stateSave": true,
                    "columns": [
                        {
                            "data": null,
                            "visible": true,
                            "render": function ( data, type, row, meta ) {
                                const id = data.id;
                                const ts = data.ts;
                                if (type === 'display' || type === 'filter') {
                                    if (swipeTimeAgo)
                                        return "<time-ago class='timeago' datetime='" + moment(parseInt(ts)).toISOString() + "' title='" + moment(parseInt(ts)).format('MMMM Do YYYY, h:mm A zz') + "'>" + jQuery.timeago(new Date(parseInt(ts))) + "</time-ago>";
                                    return moment(parseInt(ts)).format('MMMM Do, YYYY h:mm A zz');
                                } else {
                                    return data;
                                }
                            }
                        },
                        {
                            "data": "site",
                            "visible": true
                        },
                        {
                            "data": "ukID",
                            "visible": true
                        },
                        {
                            "data": "linkBlue",
                            "visible": true
                        },
                        {
                            "data": "fullName",
                            "visible": true
                        }
                    ]
                });
                swipesFilter = $(`#swipes_filter input`);
                timer = setInterval(updateList, (document.hidden) ? PERIOD_NOT_VISIBLE : PERIOD_VISIBLE);
                swipesDateRangeSpan.html( swipesFrom.format('MMM DD YYYY h:mm A') + ' - ' + swipesTo.format('MMM DD YYYY h:mm A'));
                swipesDateRange.daterangepicker(
                    {
                        ranges: {
                            'Today': [moment().startOf('day'), moment().add(1, 'days').startOf('day')],
                            'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().startOf('day')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().utc().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        startDate: moment().startOf('day'),
                        endDate: moment().add(1, 'days').startOf('day'),
                        timePicker: true,
                        timePicker12Hour: true,
                        timePickerIncrement: 5,
                        timeZone: "EST"
                    },
                    function(start, end) {
                        swipesFrom = start;
                        swipesTo = end;
                        swipesDateRangeSpan.html( swipesFrom.format('MMM DD YYYY h:mm A') + ' - ' + swipesTo.format('MMM DD YYYY h:mm A'));
                        updateList();
                    }
                );
            });
        </script>
{{> footer}}