<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Cresco - Open Source Edge-Computing Framework">
    <meta name="author" content="Caylin Hickey">
    <meta name="keyword" content="Bootstrap,Admin,Open,Source,jQuery,CSS,HTML,Dashboard">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <title>Badge Swipe Tracker Login</title>
    <!-- Icons-->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <link href="/vendors/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/vendors/datatables/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap and necessary plugins-->
    <script src="/vendors/jquery/js/jquery.min.js"></script>
    <script src="/vendors/popper/js/popper.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <form id="login-form" action="/login" method="POST">
                                <div class="row">
                                    <div class="col-sm-12" align="center">
                                        <span style="font-size: 36px; font-weight: bold;">Badge Swipe Tracker</span>
                                    </div>
                                </div>
                                {{# error}}
                                    <div class="row">
                                        <div class="col-sm-12" style="text-align: center;">
                                            <p style="color: red;font-weight: bold;">{{ error }}</p>
                                        </div>
                                    </div>
                                {{/error}}
                                {{^error}}
                                    <div class="row">
                                        <div class="col-sm-12" style="text-align: center;">
                                            <p class="text-muted" style="font-size: 12px;">Please sign in to your account</p>
                                        </div>
                                    </div>
                                {{/error}}
                                <input name="redirect" type="hidden" value="{{ redirect }}" />
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" autofocus required>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="input-group mb-4">
                                    <label for="rememberMe"style="padding-left: 15px;">
                                        <input class="checkbox" id="rememberMe" name="rememberMe" type="checkbox">
                                        <span style="margin-left: 10px;">Remember me</span>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn btn-primary px-4">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendors/jquery/js/jquery.min.js"></script>
    <script src="/vendors/popper/js/popper.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/pace-progress/js/pace.min.js"></script>
    <script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="/vendors/coreui/coreui/js/coreui.min.js"></script>
    <script>
        $('#ui-view').ajaxLoad();
        $(document).ajaxComplete(function() {
            Pace.restart()
        });
    </script>
</body>
</html>
