            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nav-icon icon-speedometer"></i> Swipe History
                        </a>
                    </li>
                </ul>
            </nav>